@using Microsoft.AspNetCore.Http;


@{
    ViewBag.Login = @Context.Session.GetString("nome");

    if (Context.Session.GetInt32("id_usuarios") != null)
    {
        <style>
            .user-content {
                display: flex !important;
            }
        </style>
    }
}

<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site de venda de pacotes de viagens">
    <meta name="author" content="Rafael Vaz">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/node_modules/splidejs/splide/dist/css/splide.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="icon" type="image/png" href="~/img/icone.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap"
        rel="stylesheet">
    <script src="~/node_modules/splidejs/splide/dist/js/splide.min.js"></script>
    <title>@ViewData["Title"] - Destino Certo</title>
</head>

<body class="fundo-img">
    <header>
        <!--BARRA DE NAVEGAÇÃO-->
        <nav class="nav-bar">
            <a asp-action="Index"><img src="~/img/logo-branco.png" alt="Logo" title="Destino Certo" class="logo"></a>

            <div class="nav-links">
                <div class="user-content">
                    <span>@ViewBag.Login</span>
                    <a asp-action="Logout"><img class="icones-img" src="~/img/icone-logout.png" alt="Logout"
                            title="Logout"></a>
                </div>
                <button id="button-hamburger"><img alt="Menu Hamburger" title="Menu" src="~/img/icone-hamburger.png"
                        class="icones-img"></button>
            </div>


            <div class="menu-hamburger">
                <ul class="menu-glass">
                    <li><a asp-action="Index">Home</a></li>
                    <li><a asp-action="Pacotes">Pacotes</a></li>
                    <li><a asp-action="Registro_Pacotes">Registrar Pacotes</a></li>
                    <li><a asp-action="Listar_Usuarios">Lista de Usuários</a></li>
                    <li><a asp-action="Listar_Pacotes">Lista de Pacotes </a></li>
                    <li><a asp-action="Atendimento">Atendimento</a></li>
                    <li><a asp-action="Cadastro">Cadastro</a></li>
                    <li><a asp-action="Login">Login</a></li>
                </ul>
            </div>
        </nav>

    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>Destino Certo - © Copyright 2020</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
